* {
  box-sizing: border-box;
}
html {
  width: 100%;
}
body {
  width: 100%;
}
#react {
  bottom: 0;
}
.card .card-img-top {
  width: 100%;
  height: 15vw;
  object-fit: cover;
}
.card {
  height: 35vw;
}
.lines {
  display: flex;
  flex-direction: row;
  width: 100%;
}
.line1 {
  width: 100%;
  height: 5px;
  background-color: blue;
}
.line2 {
  width: 100%;
  height: 5px;
  background-color: red;
}
.line3 {
  width: 100%;
  height: 5px;
  background-color: yellow;
}
.body {
  border-top: 2px solid #001b29;
  padding: 5px;
  margin: 40px;
}
footer img {
  height: 170px;
  width: 100%;
  border-top: 2px solid #1e3567;
}
.bot {
  background: rgba(0, 20, 31, 0.8);
  padding-bottom: 10px;
  border-radius: 20px;
}

#banner {
  background: #1e3567;
  color: white;
  height: 100px;

  margin: 0;
}
/* query */
#queries {
  border: 2px solid #001021;
  border-radius: 20px;
  background: rgb(249, 231, 254);
  background: radial-gradient(
    circle,
    rgba(249, 231, 254, 1) 0%,
    rgba(218, 252, 252, 1) 100%
  );
  padding: 20px;
  height: 180px;
}
.content {
  width: 40%;
}
.vote {
  width: 60%;
}
.par {
  width: 100%;
  color: black;
}
.border {
  background: #001021;
  width: 5px;
  height: 150px;
}
#more {
  display: none;
}
#myBtn {
  font-weight: lighter;
  text-decoration: underline;
  cursor: pointer;
}

#prev {
  width: 20px;
}
#next {
  width: 20px;
}
#carouselExampleDark {
  margin: 25px;
}
.carousel-indicators button {
  border: 1px solid black;
  margin-bottom: -2rem;
  position: block;
}
/* query */

header {
  text-align: center;
  font-weight: bolder;
  font-size: 30px;
  padding: 20px;
  color: #fcffa3;
}
#outer {
  text-align: center;
}
/* profile */
.profile {
  position: block;
  font-size: 30px;
  margin-top: 20px;
  margin-left: 30px;
}
.prev-post {
  color: white;
}
/* end of profile */
article {
  margin: 20px;
  background: #001021;
  color: white;
  padding: 20px;
  border-radius: 20px;
}
article p {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: 15px;
}
.center {
  font-weight: bold;
  text-align: center;
}
.container-xxl {
  margin-top: 10px;
  border-radius: 20px;
}
.bi-person-circle::before {
  color: yellow;
  height: 100px;
  width: 100px;
  border: 1px red solid;
}
.post {
  background: #cce3de;
  margin: 70px;
  padding: 40px;
  border-radius: 20px;
}
#post {
  border-radius: 20px;
  border: 2px solid white;
}
.img-fluid:hover {
  background: rgb(22, 35, 140);
  background: radial-gradient(
    circle,
    rgba(22, 35, 140, 1) 39%,
    rgba(255, 243, 243, 1) 100%
  );
  border-radius: 50%;
}
a {
  text-decoration: none;
  color: black;
}
.col p {
  text-align: center;
}
#post {
  width: 100%;
}
#soc {
  display: flex;
  flex-direction: row;
}
.nav-item:hover {
  background-color: #30343f;
}
.nav-item .active {
  background-color: #30343f;
  border-radius: 50px;
}
@media screen and (max-width: 602px) {
}
@media screen and (max-width: 390px) {
}
