* {
  box-sizing: border-box;
}
body {
  overflow-x: hidden;
  width: 100;
}
html {
  width: 100%;
}
#banner {
  background: #ce1126;
  color: white;
  height: 100px;
  text-align: center;
  width: 100%;
}
.img-fluid:hover {
  background: rgb(22, 35, 140);
  background: radial-gradient(
    circle,
    rgba(22, 35, 140, 1) 39%,
    rgba(255, 243, 243, 1) 100%
  );
  border-radius: 50%;
}
.col a {
  text-decoration: none;
  color: black;
  text-align: center;
}
main {
  justify-content: center;
  text-align: center;
  margin-top: 150px;
  margin-left: 40%;
  border: #8c1f29 2px solid;
  border-radius: 5%;
  width: 20%;
  padding: 15px;
  box-shadow: 14px 14px 10px 0px rgba(30, 28, 77, 0.9);
  -webkit-box-shadow: 14px 14px 10px 0px rgba(30, 28, 77, 0.9);
  -moz-box-shadow: 14px 14px 10px 0px rgba(30, 28, 77, 0.9);
}

#uname {
  grid-area: uname;
}
#pword {
  grid-area: pword;
}
.btn {
  grid-area: btn;
}
#query {
  background: #cce3de;
  width: 100%;
  height: 200px;
  border-radius: 10px;
}
#carousel-indicators {
  margin-bottom: -13px;
}
#outer {
  text-align: center;
}
/* create query */

/* post */

.left-side {
  background: #cce3de;
  margin-top: 50px;
  padding: 10px;
  border-radius: 20px;
  /* width: 100%; */
  margin: 20px;
}
#post {
  /* inner container of post and react*/
  border-radius: 20px;
  border: 2px solid #001021;
  display: flex;
  flex-direction: row;
  margin-top: 5px;
}
.post {
  display: flex;
  flex-direction: column;
  text-align: center;
  color: #002029;
  width: 60%;
}

/* print */
.print {
  margin-top: 20px;
  margin-left: 70px;
}
.nav-item:hover {
  background-color: #30343f;
}
.nav-item .active {
  background-color: #30343f;
  border-radius: 50px;
}
.body {
  background: #001b29;
  padding: 5px;
  margin: 10px;
  border-radius: 20px;
}
